<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>peter@hotmail.de</td>
            <td>Oppach</td>
        </tr>
        <tr>
            <td>Phil</td>
            <td>pmoessl@outlook.de</td>
            <td>Neugersdorf</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add User"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>